@charset "utf-8";
header{display: block; width: 100%; height: 100px; border-bottom: 1px solid #999999;}
header .left {float: left; padding: 25px 0 33px 70px;}
header h1 a {display: block; width: 280px; height: 60px; background: url(./이미지/로고.png) no-repeat; color: transparent;}
header > ul {float: right; padding: 55px 215px 55px 0;}
header > ul li {display: inline-block; font-size: 14px; color: #f15a22; text-decoration: none; font-weight: 700;}
header > ul a {font-size: 14px; color: #f15a22; text-decoration: none; font-weight: 700;}
.banner_section .banner {display: block; width: 100%; height: 600px; background: url(이미지/banner1.jpg) no-repeat; color: transparent; top: 126px;}
.info_section{display: flex; flex-flow: row wrap ; width: 100%; height: 395px; margin: 60px 0 60px 165px; }
.info_section h2{width: 100%; font-weight: bold; font-size: large;}
.info_section .col{display: inline-block; border: 3px solid #eeeeee; width: 370px; height: 330px; margin: 18px 18px 0 0;}
.info_section img{display: block; height: 240px; width: 100%; object-fit: contain;}
.info_section .name{display: block; margin: 15px 10px 3px 15px; font-weight: bold; font-size: 17px;}
.info_section p{display: block; margin: 10px 10px 10px 15px;}
.ad_section{display: block; width: 100%; height: 800px;}
.ad_section .main_ad{height: 630px; background: url(./이미지/yo.jpg) no-repeat;}
.ad_section img{display: block; padding: 233px 100px 233px 250px;}
.ad_section .sub_ad{display: flex; flex-flow: row wrap; height: 170px;}
.ad_section .sub_ad div{width: 100%; height: 170px; text-align: center;}
.ad_section .sub_ad .left{width: 50%; float: left; box-sizing: border-box; background-color: #e50014;}
.ad_section .sub_ad .left .in .up{color: #444427;}
.ad_section .sub_ad .right{width: 50%; float: right; box-sizing: border-box; background-color: #444444; color: white;}
.ad_section .sub_ad .right .in .up{color: #b7b7b7;}
.ad_section .sub_ad .in{display: block; padding-top: 50px;}
.ad_section .sub_ad .up{font-size: 18px; padding-bottom: 13px;} 
.ad_section .sub_ad .down{font-size: 32px; font-weight: bold;} 
.ad_section .sub_ad .side{font-size: 26px;}
footer{display: flex; flex-flow: row wrap; background-color: #151515; width: 100%; height: 408px; font-weight: bold;}
footer .footer_info{display: flex; flex-flow: row wrap; justify-content: center; align-items: center; width: 100%; height: 268px; font-size: 14px;}
footer .footer_info div{padding: 0 80px 0 80px;}
footer .footer_info h3{color: white; padding-bottom: 25px;}
footer .footer_info li{color: #999999; padding-bottom: 10px;}
footer .copyright{display: flex; flex-flow: column wrap; align-items: center; width: 100%; height: 140px; color: #999999;}
footer .copyright ul{width: 100%;}
footer .copyright li{display: flex; justify-content: center; align-items: center;}
footer .copyright .col_01{height: 50px; font-size: 14px;}
footer .copyright .col_02{height: 90px; border-top: 1px solid #666666; font-size: 14px; opacity: 0.5;}
  