@charset "utf-8";
.banner_section{width: 100%; height: 600px;}
.banner_section .banner {width: 100%; height: 100%; background: url(../images/banner1.jpg) no-repeat; color: transparent; top: 126px;}
.info_section{display: flex; flex-flow: row wrap ; width: 100%; height: 395px; margin: 60px 0 60px 165px; }
.info_section h2{width: 100%; font-weight: bold; font-size: large;}
.info_section .col{display: inline-block; border: 3px solid #eeeeee; width: 370px; height: 330px; margin: 18px 18px 0 0;}
.info_section img{display: block; height: 240px; width: 100%; object-fit: contain;}
.info_section .name{display: block; margin: 15px 10px 3px 15px; font-weight: bold; font-size: 17px;}
.info_section p{display: block; margin: 10px 10px 10px 15px;}
.ad_section{display: flex; flex-flow: column; width: 100%; height: 800px;}
.ad_section .first{display: flex; flex-flow: column; justify-content: center; align-items: center; width: 100%; height: 630px; background: url(../images/yo.jpg);}
.ad_section .second{display: flex; flex-flow: row wrap; width: 1005; height: 170px;}
.ad_section .second div{display: flex; flex-flow: column; justify-content: center; align-items: center; width: 50%; height: 170px; text-align: center;}
.ad_section .second .left{background-color: #e50014;}
.ad_section .second .left .in .up{color: #444427;}
.ad_section .second .right{background-color: #444444; color: white;}
.ad_section .second .right .in .up{color: #b7b7b7;}
.ad_section .second .up{font-size: 18px; padding-bottom: 13px;} 
.ad_section .second .down{font-size: 32px; font-weight: bold;} 
.ad_section .second .side{font-size: 26px;}
