@charset "utf-8";
.find_section{display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 600px;  background: #f4f5fa;}
.find_section .wrap{display: flex; flex-flow: column; justify-content: center; align-items: center; width: 1200px; height: 480px; border: 1px solid #999999;  border-radius: 10px; background: white;}
.find_section h3{width: 400px; height: 45px; font-size: 25px; font-weight: 550;}
.find_section input{width: 400px; height: 50px; margin-bottom: 10px; font-size: 16px;}
.find_section input[type="submit"]{background: #e50014; border: none; color: white; font-weight: 600;}