@charset "utf-8";
.find_section{display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 700px;  background: #f4f5fa;;}
.find_section .wrap{display: flex; flex-direction: column; justify-content: center; align-items: center; width: 1200px; height: 500px; background: white; border-radius: 10px; padding: 50px;}
.find_section .find{display: flex; flex-direction: column; justify-content: center; align-items: center; width: 80%; height: 80%; border: 1px solid #999999;}
.find_section h3{width: 40%; height: 40px; font-size: 30px; font-weight: 600; margin-bottom: 20px;}
.find_section input{width: 40%; height: 50px;  margin-bottom: 10px; font-size: 15px;}
.find_section input[type="submit"]{background: #e50014; border: none; color: white; font-weight: 600;}