@charset "utf-8";
.order_section{display: flex; flex-flow: row wrap; justify-content: center; align-items: center; width: 100%; height: 850px;}
.order_section .wrap{display: flex; flex-flow: row wrap; justify-content: center; align-items: center; width: 1200px; height: 700px;}
.order_section .wrap .order_tit{display: flex; flex-flow: row wrap; align-items: center; width: 100%; height: 80px; font-size: 30px; font-weight: 600; border-bottom: 1px solid #999999; margin-bottom: 20px;}
.order_section .info{width: 620px; height: 100%; margin-right: 50px; border: 1px solid #999999;}
.order_section .info_wrap{margin: 20px;}
.order_section .info .order_info{width: 100%; height: 200px; border-bottom: 1px solid #999999;}
.order_section .info .order_info .photo{margin-top: 25px; color: transparent; width: 110px; height: 88px; background: url(../images/구매강의사진.png);}
.order_section .info .contact_info{padding-top: 20px; width: 100%; height: 300px;}
.order_section .info .detail{width: 100%; height: 600px; padding: 0 0 20px 0;}
.order_section .info .detail .tit{font-size: 25px; font-weight: 600; margin: 0px 0 20px 0;}
.order_section .info .detail .sub_tit{margin-bottom: 10px;}
.order_section .info .detail .txt{width: 100%; height: 45px; border: 1px solid #999999; border-radius: 3px; margin-bottom: 15px;}
.order_section .check_order{width: 400px; height: 60%; border: 4px solid #999999;}
.order_section .check_wrap{margin: 20px;}
.order_section .final_info .tit{display: flex; height: 50px; flex-flow: row; align-items: center; border-bottom: 1px solid #999999; margin-bottom: 20px;}
.order_section .final_info .tit div{width: 50%;}
.order_section .final_info .txt{text-align: end;}
.order_section .final_info .sub_tit{font-size: 15px;}
.order_section .final_info .payment{width: 100%; height: 50px; background: #cc0000; color: white; border: none;}
