@charset "utf-8";
header{display: block; width: 100%; height: 100px; border-bottom: 1px solid #999999;}
header .left {float: left; padding: 25px 0 33px 70px;}
header h1 a {display: block; width: 280px; height: 60px; background: url(../images/로고.png) no-repeat; color: transparent;}
header > ul {float: right; padding: 55px 215px 55px 0;}
header > ul li {display: inline-block; font-size: 14px; color: #f15a22; text-decoration: none; font-weight: 700;}
header > ul a {font-size: 14px; color: #f15a22; text-decoration: none; font-weight: 700;}

footer{display: flex; flex-flow: row wrap; background-color: #151515; width: 100%; height: 408px; font-weight: bold;}
footer .footer_info{display: flex; flex-flow: row wrap; justify-content: center; align-items: center; width: 100%; height: 268px; font-size: 14px;}
footer .footer_info div{padding: 0 80px 0 80px;}
footer .footer_info h3{color: white; padding-bottom: 25px;}
footer .footer_info li{color: #999999; padding-bottom: 10px;}
footer .copyright{display: flex; flex-flow: column wrap; align-items: center; width: 100%; height: 140px; color: #999999;}
footer .copyright ul{width: 100%;}
footer .copyright li{display: flex; justify-content: center; align-items: center;}
footer .copyright .col_01{height: 50px; font-size: 14px;}
footer .copyright .col_02{height: 90px; border-top: 1px solid #666666; font-size: 14px; opacity: 0.5;}
  